
.strategy {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(2 2 2 /0.42);
}



/* Estilos generales para el formulario de pago */
.payment-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    border-radius: 5px;
  }
  
.payment-form input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .payment-form input[type="text"] {
    font-size: 16px;
    
  }
  
  .payment-form input[type="date"] {
    width: 200px;
    font-size: 16px;
  }
  
  /* Botón de pago */

.payment-form button {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
  }
  
  /* Estilos para los botones de opciones de pago */
  .payment-options button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
   
  }
  
  /* Estilos para los encabezados de los formularios de pago */
  .payment-form h3 {
    color: #333;
    margin: 0px 0px 5px 0px;
  }
  
  /* Estilos específicos para el botón de PayPal */
.payment-options button.paypal {
    background-color: #00457C;
    color: #fff;
  }
    /* Estilos específicos para el botón de Efecty */
    .payment-options button.efecty {
      background-color: rgb(217, 255, 0);
      color: #000;
    }
  
  /* Estilos específicos para el botón de tarjeta de credito */
  .payment-options button.credit-card {
    background-color: rgb(255, 0, 43);
    color: #000;
  }
   /* Estilos específicos para el botón de tarjeta debito */
   .payment-options button.debit-card {
    background-color: rgb(0, 255, 42);
    color: #000;
  }
  h2{
    text-align: center
  }